@import "tailwindcss";

:root {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-raleway);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif; /* Use custom font */
}

/* Headings */
h1, h2, h3, .font-heading {
  font-family: var(--font-heading), Arial, Helvetica, sans-serif;
}

.bg-custom {
  background-color: #FDF8F2; /* Homescreen */
}

.bg-navbar {
  background-color: #FFE5BC; /* Custom Navbar Color */
}

.text-icon {
  color: #2E4384; /* Custom Icon Color */
}

.text-icon:hover {
  color: #AC4A36; /* Custom Hover Color */
}
